// --------------------------------

// ⚠️👇 this template requires 2 color themes = [default/dark]
// (START) Global editor code https://codyhouse.co/ds/globals/colors

// --------------------------------

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 38, 52%, 43%);
  @include defineColorHSL(--color-primary-dark, 38, 52%, 47%);
  @include defineColorHSL(--color-primary, 38, 52%, 53%);
  @include defineColorHSL(--color-primary-light, 38, 52%, 61%);
  @include defineColorHSL(--color-primary-lighter, 38, 52%, 69%);

  @include defineColorHSL(--color-accent-darker, 9, 59%, 36%);
  @include defineColorHSL(--color-accent-dark, 9, 59%, 41%);
  @include defineColorHSL(--color-accent, 9, 59%, 46%);
  @include defineColorHSL(--color-accent-light, 9, 59%, 53%);
  @include defineColorHSL(--color-accent-lighter, 9, 59%, 59%);

  @include defineColorHSL(--color-secondary-darker, 184, 36%, 52%);
  @include defineColorHSL(--color-secondary-dark, 184, 36%, 58%);
  @include defineColorHSL(--color-secondary, 184, 36%, 63%);
  @include defineColorHSL(--color-secondary-light, 184, 36%, 70%);
  @include defineColorHSL(--color-secondary-lighter, 184, 36%, 76%);

  @include defineColorHSL(--color-black, 345, 6%, 13%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
  @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
  @include defineColorHSL(--color-success, 94, 48%, 56%);
  @include defineColorHSL(--color-success-light, 94, 48%, 65%);
  @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

  @include defineColorHSL(--color-error-darker, 343, 66%, 45%);
  @include defineColorHSL(--color-error-dark, 343, 67%, 51%);
  @include defineColorHSL(--color-error, 343, 75%, 57%);
  @include defineColorHSL(--color-error-light, 343, 75%, 64%);
  @include defineColorHSL(--color-error-lighter, 343, 75%, 70%);

  // color contrasts
  @include defineColorHSL(--color-bg, 0, 0%, 100%);
  @include defineColorHSL(--color-contrast-lower, 0, 4%, 95%);
  @include defineColorHSL(--color-contrast-low, 0, 1%, 83%);
  @include defineColorHSL(--color-contrast-medium, 0, 1%, 49%);
  @include defineColorHSL(--color-contrast-high, 345, 4%, 22%);
  @include defineColorHSL(--color-contrast-higher, 345, 6%, 13%);
}

@supports(--css: variables) {
  [data-theme="dark"] {
    // main
    @include defineColorHSL(--color-primary-darker, 38, 52%, 43%);
    @include defineColorHSL(--color-primary-dark, 38, 52%, 47%);
    @include defineColorHSL(--color-primary, 38, 52%, 53%);
    @include defineColorHSL(--color-primary-light, 38, 52%, 61%);
    @include defineColorHSL(--color-primary-lighter, 38, 52%, 69%);

    @include defineColorHSL(--color-accent-darker, 9, 59%, 36%);
    @include defineColorHSL(--color-accent-dark, 9, 59%, 41%);
    @include defineColorHSL(--color-accent, 9, 59%, 46%);
    @include defineColorHSL(--color-accent-light, 9, 59%, 53%);
    @include defineColorHSL(--color-accent-lighter, 9, 59%, 59%);

    @include defineColorHSL(--color-secondary-darker, 184, 36%, 52%);
    @include defineColorHSL(--color-secondary-dark, 184, 36%, 58%);
    @include defineColorHSL(--color-secondary, 184, 36%, 63%);
    @include defineColorHSL(--color-secondary-light, 184, 36%, 70%);
    @include defineColorHSL(--color-secondary-lighter, 184, 36%, 76%);

    @include defineColorHSL(--color-black, 345, 6%, 13%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 94, 48%, 42%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 48%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 65%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 74%);

    @include defineColorHSL(--color-error-darker, 343, 66%, 45%);
    @include defineColorHSL(--color-error-dark, 343, 67%, 51%);
    @include defineColorHSL(--color-error, 343, 75%, 57%);
    @include defineColorHSL(--color-error-light, 343, 75%, 64%);
    @include defineColorHSL(--color-error-lighter, 343, 75%, 70%);

    // color contrasts
    @include defineColorHSL(--color-bg, 345, 6%, 13%);
    @include defineColorHSL(--color-contrast-lower, 345, 5%, 16%);
    @include defineColorHSL(--color-contrast-low, 345, 3%, 25%);
    @include defineColorHSL(--color-contrast-medium, 0, 1%, 57%);
    @include defineColorHSL(--color-contrast-high, 0, 3%, 87%);
    @include defineColorHSL(--color-contrast-higher, 0, 20%, 99%);

    // font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// background color
.bg-secondary-darker { background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.bg-secondary-dark { background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.bg-secondary { background-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.bg-secondary-light { background-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.bg-secondary-lighter { background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }

// border color
.border-secondary-darker { border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.border-secondary-dark { border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.border-secondary { border-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.border-secondary-light { border-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.border-secondary-lighter { border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }

// --------------------------------

// (END) Global editor code

// --------------------------------