/* -------------------------------- 

File#: _2_weekly-schedule
Title: Weekly Schedule
Descr: A table displaying the events of the week
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --w-schedule-row-height: 50px; // rows visible on bigger screens
  --w-schedule-row-nr: 0; // number of rows - dynamically set in JS

  // modal window
  --w-schedule-modal-anim-duration: 0.3s; // modal animation duration
  --w-schedule-modal-close-btn-size: 48px; // close button size

  // event colors
  @include defineColorHSL(--w-schedule-color-1, 38, 52%, 53%);
  @include defineColorHSL(--w-schedule-color-2, 9, 59%, 46%);
  @include defineColorHSL(--w-schedule-color-3, 184, 36%, 63%);
  @include defineColorHSL(--w-schedule-color-4, 345, 6%, 13%);
}

.w-schedule {
  position: relative;
  z-index: 1;
}

/* #region (Mobile Navigation) */
.w-schedule__controls {
  display: flex;
  align-items: center;
}

.w-schedule__control-wrapper {
  flex-grow: 1;
  flex-basis: 0;

  &:not(:last-child) {
    margin-right: var(--space-xxs); // tabs controls gap
  }
}

.w-schedule__control {
  display: block;
  width: 100%;
  background-color: var(--color-contrast-lower);
  padding: 2vw 0;
  border-radius: var(--radius-md);

  color: inherit;
  text-decoration: none;
  text-align: center;

  transition: .2s;

  &:hover {
    background-color: var(--color-contrast-low);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px alpha(var(--color-primary), 0.2);
  }

  &[aria-selected="true"] {
    background-color: var(--color-contrast-higher);
    color: var(--color-bg);
  }
}
/* #endregion */

/* #region (Events) */
.w-schedule__days {
  position: relative;
  z-index: 2;
}

.w-schedule__day {
  position: relative;
  padding-top: var(--space-md);
}

.w-schedule__col-label {
  display: none; // hide column labels on smaller screens
}

.w-schedule__events {
  position: relative;
}

.w-schedule__event-wrapper:not(:last-child) {
  margin-bottom: var(--space-xs); // events gap
}

.w-schedule__event {
  color: inherit;
  text-decoration: none;

  display: block;
  padding: var(--space-md);
  border-radius: var(--radius-md);
  background-color: var(--w-schedule-color-1);
  border-left-width: 4px;
  border-left-style: solid;
  box-shadow: var(--shadow-sm);

  transition: .3s;

  &:hover {
    box-shadow: var(--shadow-md);
  }
}

// event themes
.w-schedule__event--1 {
  background-color: var(--w-schedule-color-1);
  border-color: lightness(var(--w-schedule-color-1), 0.8);
  color: var(--color-black);
}

.w-schedule__event--2 {
  background-color: var(--w-schedule-color-2);
  border-color: lightness(var(--w-schedule-color-2), 0.8);
  color: var(--color-white);
}

.w-schedule__event--3 {
  background-color: var(--w-schedule-color-3);
  border-color: lightness(var(--w-schedule-color-3), 0.8);
  color: var(--color-black);
}

.w-schedule__event--4 {
  background-color: var(--w-schedule-color-4);
  border-color: lightness(var(--w-schedule-color-4), 0.8);
  color: var(--color-bg);
}
/* #endregion */

/* #region (Background Rows) */
.w-schedule__grid {
  display: none; // hide bg grid on smaller devices
}

.w-schedule__grid-row-label { // time
  display: none;
}
/* #endregion */

/* #region (Modal Window) */
.w-schedule-modal {
  --modal-transition-duration: var(--w-schedule-modal-anim-duration);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-sm);
  padding-top: calc(var(--space-sm)*2 + var(--w-schedule-modal-close-btn-size));
}

.w-schedule-modal__content {
  height: 100%;
  width: 100%;
}

.w-schedule-modal__content--loaded > * {
  animation: w-schedule-body-entry-anim .4s;
}

@keyframes w-schedule-body-entry-anim {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.w-schedule-morph-bg { // morphing bg
  position: fixed;
  z-index: var(--zindex-overlay);
  transform-origin: left top;
}

.w-schedule-close-btn { // modal close button
  position: fixed;
  top: var(--space-sm);
  right: var(--space-sm);
  z-index: var(--zindex-overlay);

  width: var(--w-schedule-modal-close-btn-size);
  height: var(--w-schedule-modal-close-btn-size);
  border-radius: 50%;
  background-color: alpha(var(--color-contrast-higher), 0.8);
  
  display: flex;

  opacity: 0;
  visibility: hidden;

  transition: background .2s, opacity var(--w-schedule-modal-anim-duration), visibility 0s var(--w-schedule-modal-anim-duration);

  &:hover {
    background-color:alpha(var(--color-contrast-higher), 1);
  }

  .icon {
    color: var(--color-bg); // icon color
    display: block;
    margin: auto;
  }
}

.w-schedule-close-btn--is-visible {
  opacity: 1;
  visibility: visible;
  transition: background .2s, opacity var(--w-schedule-modal-anim-duration);
}
/* #endregion */

.js {
  // 👇 layout change
  @include breakpoint(md) {
    /* #region (Mobile Navigation) */
    .w-schedule__controls {
      display: none; // hide tabs controls
    }
    /* #endregion */

    /* #region (Events) */
    .w-schedule__days {
      display: flex;
      height: calc(var(--w-schedule-row-nr)* var(--w-schedule-row-height));
    }

    .w-schedule__day {
      display: block !important; // make all sections visible despite being tab panels
      flex-grow: 1;
      flex-basis: 0;
      padding-top: 0;

      border: 0px solid alpha(var(--color-contrast-higher), 0.1);
      border-left-width: 1px;
    
      &:last-child {
        border-right-width: 1px;
      }
    }

    .w-schedule__col-label {
      display: flex;
      height: var(--w-schedule-row-height);
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid alpha(var(--color-contrast-higher), 0.1);
    }

    .w-schedule__event-wrapper {
      margin-bottom: 0 !important;
    }

    .w-schedule__event {
      height: var(--w-schedule-event-height, auto); // set in JS
      padding: var(--space-xs);

      position: absolute;
      left: 0;
      top: var(--w-schedule-event-top, initial); // set in JS
      width: 100%;
    }
    /* #endregion */

    /* #region (Background Rows) */
    .w-schedule__grid {
      display: block;
      position: absolute;
      z-index: 1;
      top: var(--w-schedule-row-height);
      left: 0;
      width: 100%;
    }

    .w-schedule__grid-row {
      position: relative;
      height: var(--w-schedule-row-height);

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: alpha(var(--color-contrast-higher), 0.1);
      }
    }
    /* #endregion */

    /* #region (Modal Window) */
    .w-schedule-modal {
      padding-top: calc(var(--space-xs)*2 + var(--w-schedule-modal-close-btn-size));
      padding-bottom: calc(var(--space-xs)*2 + var(--w-schedule-modal-close-btn-size));
    }

    .w-schedule-modal__content {
      max-width: var(--max-width-md);
      max-height: 680px;
    }
    /* #endregion */
  }


  @include breakpoint(lg) {
    /* #region (Events) */
    .w-schedule__days {
      margin-left: 60px;
    }
    /* #endregion */

    /* #region (Background Rows) */
    .w-schedule__grid-row {
      &:not(:last-child)::after {
        left: 60px;
        width: calc(100% - 60px);
      }
    }

    .w-schedule__grid-row-label { // time (row labels)
      display: inline-block;
      line-height: 1;
      position: absolute;
      transform: translateY(-50%);
      top: 0;
      left: 0;
      font-size: var(--text-sm);
    }
    /* #endregion */
  }
}

html:not(.js) .w-schedule__col-label {
  display: block;
}